@CHARSET "UTF-8";

#notice-manager{
	min-height:300px;
}

#notice-manager center{
	width:930px;
	font-weight:bold;
	font-size:18px;
	margin-bottom:10px;
}

#notice-manager h4{
	width:930px;
	text-align:center;
	font-size:12px;
	margin-bottom:10px;
}

#notice-manager h4 a{
	color:#AAA;
}

#notice-manager table{
	width:930px;
	text-align:center;
}

#notice-manager table tr th,#notice-manager table tr td{
	font-size:12px;
	height:22px;
	line-height:22px;
}