@CHARSET "UTF-8";

#vote_manager{
	min-height:300px;
}

#vote_manager center{
	width:930px;
	font-weight:bold;
	font-size:18px;
	margin-bottom:10px;
}

#vote_manager h4{
	width:930px;
	text-align:center;
	font-size:12px;
	margin-bottom:10px;
}

#vote_manager h4 a{
	color:#D6D6D6;
}

#vote_manager table{
	width:930px;
	text-align:center;
}

#vote_manager table tr th,#vote_manager table tr td{
	font-size:12px;
	height:22px;
	line-height:22px;
}
