@CHARSET "UTF-8";

/*导航*/
#nav{

}

#nav ul li{
	width:960px;
	height:37px;
	line-height:37px;
	background:url(../images/nav.gif);
	margin-bottom:5px;
}

#nav ul li a{
	display:block;
	float:left;
	margin:0 5px;
	padding:0 10px;
	color:#D7D7D7;
}

#nav ul li a:hover{
	background-color:blue;
	font-weight:bold;
}

/*网页主体内容*/
#main{
/* 	height:400px; */
	border:1px #93c993 solid;
}

/*main-top 欢迎词*/
#main-top{
	text-align:center;
	height:72px;
	background:url(../images/main-top.gif) repeat-x;
	margin-bottom:5px;
}

#main-top p{
	width:930px;
	margin:0 auto;
	height:55px;
	line-height:55px;
	border-bottom:1px #93c993 dashed;
}

.blue{
	color:blue;
}

#main-left,#main-mid,#main-right{
	float:left;
}

/*main-left*/
#main-left{
	margin-left:1px;
	width:205px;
	/* height:200px; */
	border-right:1px #939393 solid;
	margin-right:3px;
	margin-bottom:10px;
}

/*最新公告 gonggao*/
#main-left #gonggao{
	height:160px;
	width:200px;
}

#main-left #gonggao dt{
	height:24px;
	line-height:30px;
	background:url(../images/gonggao.gif) no-repeat 0 0 ;
	text-indent:30px;
	border-bottom:2px #D6D6D6 solid;
	padding-bottom:3px;
	font-size:13px;
	color:#A54B1E;
	font-weight:bold;
}

#main-left #gonggao dd{
	word-wrap:break-word;
	word-break:break-all;
	overflow:hidden;
	width:200px;
	height:20px;
	line-height:20px;
	font-size:12px;
	text-indent:20px;
	margin:2px 0;
}

#main-left #gonggao dd a{
	height:20px;
	width:180px;
	display:block;
	color:#000;
}

#main-left #contact{
	width:200px;
}

#main-left #contact dt{
	height:24px;
	line-height:30px;
	background:url(../images/contact.gif) no-repeat 0 0 ;
	text-indent:30px;
	border-bottom:2px #D6D6D6 solid;
	padding-bottom:3px;
	font-size:13px;
	color:#A54B1E;
	font-weight:bold;
	margin-top:10px;
}

#main-left #contact dd{
	height:24px;
	line-height:24px;
	margin:5px 0;
	color:blue;
	text-indent:20px;
}


/*main-mid*/
#main-mid{
	width:530px;
	height:200px;
	/* border:1px #93c993 solid; */
	margin-right:6px;
	margin-left:3px;
}

#main-mid table{
	text-align:center;
}

#main-mid table tr th{
	border-bottom:1px #000 solid;
	height:24px;
	line-height:24px;
}

#main-mid table tr td{
	height:24px;
	line-height:24px;
}

#main-mid table tr td a{
	color:#DDD;
}

#main-mid table tr td a:hover{
	color:#F60;
}

#main-mid table tr .voteid{
	width:50px;
}

#main-mid table tr .votetitle{
	width:300px;
}

#main-mid table tr td.votetitle a{
	color:#000;
}


#main-mid table tr .votetime{
	width:130px;
}

#main-mid table tr .voters{
	width:50px;
}
/*main-right*/
#main-right{
	width:205px;
	/* height:200px; */
	border-left:1px #939393 solid;
}


/*search*/
#main-right #search{
	width:200px;
	margin-left:4px;
	text-align:center;
	margin-top:10px;
	margin-bottom:10px;
	border-bottom:2px #D6D6D6 solid;
}

#main-right #search dt{
	height:26px;
	line-heihgt:26px;
	font-weight:bold;
}

#main-right #search dd{
	height:24px;
	line-height:24px;
	margin:10px 0;
}

.keyword{
	color:#D1D1D1;
}

.sub{
	cursor:pointer;
}


/*相关下载*/

#main-right #down{
	height:165px;
	text-align:center;
}